<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ссылки на посты в Telegram</title>
</head>
<body>
    <div id="telegram-posts">
        <a href="https://t.me/chervethreadofficial/393?single">https://t.me/chervethreadofficial/393?single</a>
        <a href="https://t.me/chervethreadofficial/390">https://t.me/chervethreadofficial/390</a>
        <a href="https://t.me/chervethreadofficial/360">https://t.me/chervethreadofficial/360</a>
        <a href="https://t.me/chervethreadofficial/316">https://t.me/chervethreadofficial/316</a>
        <a href="https://t.me/chervethreadofficial/315">https://t.me/chervethreadofficial/315</a>
        <a href="https://t.me/chervethreadofficial/311">https://t.me/chervethreadofficial/311</a>
        <a href="https://t.me/chervethreadofficial/307?single">https://t.me/chervethreadofficial/307?single</a>
        <a href="https://t.me/chervethreadofficial/303">https://t.me/chervethreadofficial/303</a>
        <a href="https://t.me/chervethreadofficial/295">https://t.me/chervethreadofficial/295</a>
    </div>
</body>
</html>