:root {
    --main-color: #ffb0e2; /* Светло-розовый цвет */
    --main-color-rgb: 255, 105, 180;
    --main-color-dark: #e699c7; /* Более темный розовый цвет */
}

/* Общие стили для страницы */
body {
    background-color: #222;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Контейнер для основной структуры */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    padding: 0 15px;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px; /* Закругление углов */
}

/* Стили для футера */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); /* Aero glass эффект */
    backdrop-filter: blur(10px); /* Эффект стеклянной поверхности */
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0; /* Переносим футер наверх */
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
}

/* Стили для изображений в футере */
.footer img {
    width: 40px;
    height: 40px;
}

/* Стили для обёрток медиа в постах */
.post-media-wrapper {
    width: 100%;
    margin-top: 16px;
    border-radius: 10px; /* Закругление углов */
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
    height: 0;
    border-radius: 10px; /* Закругление углов */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Закругление углов */
}

/* Обёртка для встраиваемого контента */
.embed-wrapper {
    margin-top: 16px;
    width: 100%;
    border-radius: 10px; /* Закругление углов */
}

/* Название сайта */
.site-name {
    margin-left: 10px;
    color: var(--main-color);
    font-size: 18px;
}

/* Иконки социальных сетей */
.social-icons a {
    margin: 0 10px;
    color: var(--main-color);
}

/* Контактная информация */
.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.contact-info i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--main-color);
}

/* Кнопка "Наверх" */
.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 18px;
    color: var(--main-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #222;
    border-radius: 8px; /* Закругление углов */
    z-index: 10000; /* кнопка находится поверх всех элементов */
}

.back-to-top i {
    font-size: 18px;
    color: var(--main-color);
}

/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 14px;
    margin-top: 28px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 500px; /* Ширина пагинации */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
    border-radius: 10px; /* Закругление углов */
}

.pagination a.fas {
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s; /* Плавный переход для цвета */
}

.pagination a.fas:hover {
    color: var(--main-color-dark);
}

.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-number {
    font-size: 16px;
    margin: 0 10px;
    color: #888;
    text-decoration: none;
}

.page-number.current {
    color: #fff;
}

/* Стили для контента */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Ширина контента */
    padding-bottom: 50px; /* Уменьшен отступ снизу */
    margin-top: 24px;
}

/* Стили для постов */
.post {
    background-color: #222;
    margin-bottom: 32px; /* Увеличен отступ между постами */
    padding: 0;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 500px; /* Ширина постов */
    border-radius: 10px; /* Закругление углов */
}

/* Заголовок поста */
.post-header {
    padding: 10px 15px;
    border-radius: 10px 10px 0 0; /* Правильное закругление углов */
    border-bottom: 1px groove var(--main-color);
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
}

/* Основные стили для изображения в посте */
.post-image-wrapper {
    position: relative;
    max-width: 500px; /* Максимальная ширина контейнера */
    max-height: 600px; /* Максимальная высота контейнера */
    width: 100%; /* Ширина контейнера заполняет доступное пространство */
    height: auto; /* Высота контейнера будет зависеть от содержимого */
    overflow: hidden; /* Прячем выходящее за границы содержимое */
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование изображения по вертикали */
    background: transparent;
}

/* Стили для изображения поста */
.post-image-wrapper img {
    max-width: 100%; /* Ограничивает ширину изображения размером контейнера */
    max-height: 100%; /* Ограничивает высоту изображения размером контейнера */
    width: auto; /* Автоматическая ширина, сохраняет пропорции */
    height: auto; /* Автоматическая высота, сохраняет пропорции */
    object-fit: contain; /* Сохраняет пропорции изображения и не обрезает его */
}

/* Стили для обёртки видео */
.video-container {
    width: 100%; /* Видео будет подстраиваться под ширину блока поста */
    max-width: 100%; /* Максимальная ширина видео не превышает ширину контейнера */
    margin-bottom: 20px; /* Отступ снизу между видео */
    border-radius: 10px; /* Закругление углов */
    overflow: hidden; /* Прячем выходящее за границы содержимое */
}

/* Стили для видео */
.video-container video {
    width: 100%; /* Адаптивная ширина видео */
    height: 500px; /* Фиксированная высота видео */
    object-fit: cover; /* Сохранение пропорций, обрезая изображение при необходимости */
    border-radius: 10px; /* Закругление углов */
}

/* Содержимое поста */
.post-content {
    padding: 8px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    margin: 0 auto;
    max-width: 100%;
}

/* Основные стили футера поста */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid var(--main-color);
    position: relative;
    overflow: hidden;
    border-radius: 0 0 10px 10px; /* Закругление углов */
}

/* Подвал поста */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid var(--main-color);
    position: relative;
    overflow: hidden;
    border-radius: 0 0 10px 10px; /* Закругление углов */
}

/* Стили для текста в футере поста */
.post-footer-text {
    font-size: 12px;
    color: #ccc;
}

/* Стили для кнопок в футере поста */
.post-footer-buttons {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
}

/* Стили для ссылок на кнопки */
.post-footer-button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-footer-button:hover {
    background-color: var(--main-color-dark);
}

/* Стили для заголовков поста */
.post-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
}

/* Стили для текста поста */
.post-text {
    font-size: 16px;
    color: #eee;
    line-height: 1.6;
}

/* Стили для изображений в постах */
.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Закругление углов */
}

/* Отступы для блоков с медиа-контентом */
.media-block {
    margin: 20px 0; /* Отступ сверху и снизу */
    display: flex;
    flex-direction: column;
}

/* Стили для заголовков разделов */
.section-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Анимация для плавного появления постов */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.post {
    animation: fadeIn 0.5s ease-in; /* Применяем анимацию к посту */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .post {
        margin-bottom: 20px; /* Меньший отступ между постами на мобильных */
    }

    .footer {
        flex-direction: column; /* Переключаемся на вертикальное расположение */
        align-items: flex-start; /* Выравнивание по левому краю */
    }

    .contact-info {
        width: 100%;
        justify-content: space-between; /* Пространство между контактами */
    }

    .back-to-top {
        bottom: 20px; /* Меньший отступ снизу */
        right: 10px; /* Меньший отступ справа */
    }
}