:root {
    --main-color: #ffb0e2;
    --main-color-dark: #e699c7;
}

body {
    background-color: #222;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
}

.sidebar, .post, .footer {
    background-color: #222;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.title-container h1, .post-title, .read-more {
    color: var(--main-color);
}

.description-container p, .post-date, .sub-menu a, .page-number {
    color: #888;
}

.menu-link {
    color: var(--main-color);
    text-decoration: none;
}

.menu-link:hover {
    color: var(--main-color-dark);
}

.back-to-top {
    color: #ffb0e2;
    background: #222;
}