:root {
    --main-color: #ffb0e2;
    --main-color-dark: #e699c7;
}

/* Общие стили для страницы */
body {
    background-color: #222;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0 15px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Стили для сайдбара */
.sidebar {
    background-color: #222;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    position: sticky;
    top: 20px;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px; /* Закругление краёв */
}

/* Стили для контейнеров логотипа, заголовка, описания и меню */
.logo-container, .title-container, .description-container, .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

/* Стили для логотипа */
.logo-container img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    
}

/* Стили для заголовка */
.title-container h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
}

/* Стили для описания */
.description-container p {
    font-size: 14px;
    color: #888;
    font-style: italic;
}


/* Стили для меню */
.menu-container {
    width: 100%;
    max-width: 540px;
    border-top: 1px groove transparent;
    border-image: linear-gradient(to right, var(--main-color), var(--main-color-dark)) 1;
}

/* Сетка для меню */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 16px;
}

.menu-item {
    position: relative; /* что родитель имеет позиционирование */
}

/* Ссылки меню */
.menu-link {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    padding: 10px;
    background-color: #222;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
    border: none;
    border-radius: 10px; /* Закругление краёв ссылок */
}

.menu-link:hover {
    background-color: #222;
    color: var(--highlight-color);
}

.menu-link:active {
    background-color: var(--main-color-dark);
}

.menu-link.has-submenu::after {
    font-size: 0.8em;
}

/* Подменю */
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222;
    width: auto; /* Автоматическая ширина подменю под содержимое */
    min-width: 150px; /* Минимальная ширина, чтобы избежать слишком узкого подменю */
    border-radius: 10px; /* Закругление краёв подменю */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для подменю */
    padding: 0; /* Убираем отступы по умолчанию */
    z-index: 1000; /* Устанавливаем z-index, чтобы подменю было поверх других элементов */
}

/* Подменю ссылки */
.sub-menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    position: relative; /* Для позиционирования псевдо-элемента */
    transition: background-color 0.3s;
}
    
/* Эффект подчеркивания */
.sub-menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ffb0e2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.sub-menu a:hover::before {
    transform: scaleX(1);
}

/* Подменю ссылки при наведении */
.sub-menu a:hover {
    background-color: #222;
    color: var(--highlight-color);
}

/* Стили для контента */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 540px;
    padding-bottom: 100px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

/* Стили для постов */
.post {
    background-color: #222;
    margin-bottom: 24px;
    padding: 0;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 540px;
    border-radius: 15px; /* Закругление краёв постов */
}

/* Заголовок поста */
.post-header {
    padding: 10px 15px;
    border-bottom: 1px groove var(--main-color);
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
}

/* Обёртка для изображения в посте */
.post-image-wrapper {
    margin-top: 16px;
}

.post-image-wrapper img {
    width: 100%;
    display: block;
}

/* Содержимое поста */
.post-content {
    padding: 15px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    margin: 0 auto;
    max-width: 100%;
}

/* Подвал поста */
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px groove var(--main-color);
}

.read-more {
    color: var(--main-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.read-more:hover {
    color: var(--main-color-dark);
}

.post-date {
    color: #888;
    font-size: 12px;
}

/*Стили телеграм виджета*/
.telegram-discussion {
      width: 100%;
      max-width: 540px;
      margin: 0 auto;
    }

/* Стили для футера */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    border-top: 1px groove #ffb0e2;
}

/* Стили для изображений в футере */
.footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Стили для обёрток медиа в постах */
.post-media-wrapper {
    width: 100%;
    margin-top: 16px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-wrapper {
    margin-top: 16px;
    width: 100%;
}

/* Название сайта */
.site-name {
    margin-left: 10px;
    color: #ffb0e2;
    font-size: 18px;
}

/* Иконки социальных сетей */
.social-icons a {
    margin: 0 10px;
    color: #ffb0e2;
}

/* Контактная информация */
.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.contact-info i {
    font-size: 20px;
    margin-right: 10px;
    color: #ffb0e2;
}

/* Кнопка "Наверх" */
.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 18px;
    color: #ffb0e2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
background: #222;
}

.back-to-top i {
    font-size: 18px;
    color: #ffb0e2;
}

/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 14px; /* Уменьшено с 28px до 14px */
    margin-top: 28px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Закругление краёв */
}

.pagination a.fas {
    font-size: 20px;
    color: #ffb0e2;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s; /* Плавный переход для цвета */
}

.pagination a.fas:hover {
    color: #e699c7;
}

.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-number {
    font-size: 16px;
    margin: 0 10px;
    color: #888;
    text-decoration: none;
}

.page-number.current {
    color: #fff;
}

/* Медиа-запрос для устройств с шириной экрана 768px и более */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        max-width: 90%;
    }

    .sidebar {
        margin-right: 40px;
        top: 0;
        width: 300px;
    }

    .content {
        max-width: 540px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .back-to-top {
        bottom: 100px;
        right: 40px;
    }
}

/* Медиа-запрос для устройств с шириной экрана до 767px */
@media (max-width: 767px) {

    .sidebar {
        width: 100%;
        position: relative;
        top: 0;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        display: none;
    }
  }
